<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
</head>
<body>
  <h1>Personal Blog</h1>
  <form action="/" method="POST">
    <input type="text" name="article" placeholder="Write article">
    <input type="submit" value="OK">
  </form>
</body>
</html>

